body {
  background-color: #f4f4f8;
  margin: 0 5% 0 5%;
}
/*
div {
  border: 2px solid black;
}
*/
h3 {
  text-align: center;
}

/*header*/
.headerContainer {
  display: flex;
  background-color: #fed766;
}

.headerText {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*navigation*/
.navigationContainer {
  border-bottom: 1.5px solid #000000;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #2ab7ca;
  height: 50px;
}

.fixedNav {
  display: flex;
  justify-content: center;
}

.unorderedList1 {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: 1500ms;
}

li a:hover{
  transition: 1500ms;
  color: #000;
  letter-spacing: 5px;
  font-weight: 900;
}

/*Buddy's image and container*/
/*.divLine {
  display: flexbox;
  margin-top: 50%;
}*/

.buddyImage {
  margin: 0;
  padding: 0;
}

.buddyHero {
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  width: 100%;
  height: auto;
}

/*About Buddy banner*/
.aboutBuddyBanner {
  background-color: #e6e6ea;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  letter-spacing: 5px;
}

.buddyArrow {
  display: flex;
  align-items: center;
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-top: 0px solid;
  background-color: #e6e6ea;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

#buddyIntroDiv {
  display: none;
}

.buddysStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statsHeader {
  color: #fe4a49;
}

.buddysBio {
  text-align: center; 
  padding: 0 5% 10px; 
  border: 1px solid #2ab7ca;
  border-radius: 20px;
}

.bioHeader {
  color: #fe4a49;
}

.downTab {
  display: block;
  width: 40px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e6ea;
}

.downTab:hover {
  cursor: pointer;
}

/*Buddy's faves*/
.favesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.favesBanner {
  border-top: 1px solid #e6e6ea;
  padding-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 5px;
}
/*faves places*/
.places {
  height: 200px;
  width: 200px;
  background-color: #fe4a49;
  border: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: .5rem;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.places:hover {
  cursor: pointer;
}

.placesContent {
  display: flex;
  flex-direction: column;
  background-color: #e6e6ea;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.placesLink {
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 20px 0;
  letter-spacing: .1rem;
}

.placesLink:hover {
  color: #2ab7ca;
  font-weight: bold;
}

/*faves snacks*/
.snacks {
  height: 200px;
  width: 200px;
  background-color: #2ab7ca;
  border: none;
  color:#e6e6ea;
  font-size: 1.5em;
  letter-spacing: .5rem;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.snacks:hover {
  cursor: pointer;
}

.snacksContent {
  display: flex;
  flex-direction: column;
  background-color: #e6e6ea;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}

.snacksImage {
  object-fit: cover;
  width: 190px;
  height: 190px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #2ab7ca;
}

/*faves toys*/
.toys {
  height: 200px;
  width: 200px;
  background-color: #fed766;
  border: none;
  color:#000;
  font-size: 1.5em;
  letter-spacing: .5rem;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.toys:hover {
  cursor: pointer;
}

.toysContent {
  display: flex;
  flex-direction: column;
  background-color: #e6e6ea;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}

.toysImage {
  object-fit: cover;
  width: 190px;
  height: 190px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #2ab7ca;
}

/*Gallery*/
.galleryContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.galleryBanner {
  border-top: 1px solid #e6e6ea;
  padding-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 5px;
}

.gallery1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gallery2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 100%;
  height: auto;
}
/*sign up*/
.signUpContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  letter-spacing: 5px;
  border-bottom: 1px solid #e6e6ea;
}

.signUpHeader {
  border-top: 1px solid #e6e6ea;
  padding-bottom: 15px;
  padding-top: 15px;
}

.criteria {
  letter-spacing: 0rem;
  text-align: center;
  margin: 1px;
  font-size: small;
  color: grey;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 250px;
  height: 35px;
  border-bottom: 1px solid #2ab7ca;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
  background-color: #f4f4f8;
  margin-top: 20px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #fe4a49;
  letter-spacing: 5px;
}

.formButton {
  border: 1px solid #2ab7ca;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  background-color: #2ab7ca;
  color: #e6e6ea;
  letter-spacing: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.formLabel {
  color: #fe4a49;
}

.nameCriteriaMet input {
  color: #2ab7ca;
}

.emailCriteriaMet input {
  color: #2ab7ca;
}

/*footer*/
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;
}

.copyright {
  color: #fe4a49;

}

.contactLink {
  color: #fe4a49;
  text-decoration: none;
}

/*JS classes*/

/*nav*/
.active {
  transition: 1000ms;
  color: #000;
  letter-spacing: 5px;
  font-weight: 900;
}